.p-section {
  // height: 100vh;
  > div {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  &__paragraph {
    @extend .u-gutter;
  }
  @media screen and (min-width: 1640px) {
    &__paragraph {
      margin: 0;
    }
  }
  &__cards {
    margin-top: 16px;
  }
}

.p-section--padding-bottom-0 {
  @extend .p-section;
  > div {
    padding-top: 64px;
    padding-bottom: 0;
  }
}
