.c-arrow {
  display: inline-block;
  text-decoration: none;
  padding-top: 70px;
  color: white;
  letter-spacing: 2px;
  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: c-arrow-slide 1.5s infinite;
    box-sizing: border-box;
  }
}
@keyframes c-arrow-slide {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
