.c-heading {
  position: relative;
  // 278px を最小値として、画面幅に合わせて高さを大きくする
  height: calc(278px + (min(100vw, 1640px) - 300px) * 0.23);
  margin-bottom: 40px;
  &__img {
    position: absolute;
    width: 50%;
    height: 100%;
  }
  &__img--top-heading-img01 {
    @extend .c-heading__img;

    background: no-repeat center/cover url(/img/top/heading_img01.png);
  }
  &__img--top-heading-img02 {
    @extend .c-heading__img;

    background: no-repeat center/cover url(/img/top/heading_img02.png);
  }
  &__img--top-heading-img03 {
    @extend .c-heading__img;

    background: no-repeat center/cover url(/img/top/heading_img03.png);
  }
  &__img--shop-heading-img01 {
    @extend .c-heading__img;

    background: no-repeat center/cover url(/img/shop/heading_img01.png);
  }
  &__img--wholesale-heading-img01 {
    @extend .c-heading__img;

    background: no-repeat center/cover url(/img/wholesale/heading_img01.png);
  }
  &__subtitle {
    position: absolute;
    left: calc(100% - 16px);
    transform: translateX(-100%);
    height: 60%;
  }
  @media screen and (min-width: 1640px) {
    &__subtitle {
      left: 100%;
    }
  }
  &__title {
    position: absolute;
    // 0.02 : 画面幅 1640px の時に font-size 50px になるように調整した値
    font-size: calc(24px + (min(100vw, 1640px) - 375px) * 0.02);
    bottom: 16px;
    /* stylelint-disable length-zero-no-unit */
    left: calc(10px + max(0px, (100% - 350px) * 0.59));
    width: calc(100% - (10px + max(0px, 100% - 350px) * 0.59));
    padding: 5px 0 5px 20px;
    margin: 0;
    padding-right: 8px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.c-heading--small {
  @extend .c-heading;
  // 278px を最小値として、画面幅に合わせて高さを大きくする
  height: calc(278px + (min(100vw, 1640px) - 300px) * 0.13);
}

.c-heading--border-bottom {
  font-size: 40px;
  border-bottom: 1px solid var(--color-primary);
}
