header {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  h1 {
    z-index: 4;
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
    img {
      height: 100%;
    }
  }
  .burger-button-container {
    border: var(--color-primary) solid 1px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 4;
    display: flex;
    align-items: center;
    cursor: pointer;
    > span {
      display: block;
      margin-right: 16px;
    }
    .burguer-button {
      height: 32px !important;
      > .bar:nth-child(1) {
        transform: translateY(-350%);
      }
      > .bar:nth-child(3) {
        transform: translateY(350%);
      }
    }
    .burguer-button.-active {
      > .bar:nth-child(1) {
        transform: translateY(100%) rotate(45deg);
      }
      > .bar:nth-child(3) {
        transform: translateY(-100%) rotate(-45deg);
      }
    }
  }
}

.header-img-enter-active,
.header-img-leave-active {
  transition: opacity 0.8s;
}
.header-img-enter,
.header-img-leave-to {
  opacity: 0;
}
